version: '3.8'

services:
  mysql:
    image: mysql:8.3.0
    container_name: unified-biztool-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: unified-biztool
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql-data:
