<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="ConfigFragment">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon" />

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/lineicons.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
    <!-- 중복된 fullcalendar.css 제거 -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

</html>