<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
  <!-- 페이지별 타이틀 설정 -->
  <title>로그인</title>
</head>
  <body>
<section layout:fragment="content">
  <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>로그인</h2>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->

      <div class="row g-0 auth-row">
        <div class="col-lg-6">
          <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
              <div class="title text-center">
                <h1 class="text-primary mb-10">돌아오신걸 환영합니다.</h1>
                <p class="text-medium">
                  패스워드를 입력하여 로그인할 수 있습니다.
                </p>
              </div>
              <div class="cover-image">
                <img src="/images/auth/signin-image.svg" alt="" />
              </div>
              <div class="shape-image">
                <img src="/images/auth/shape.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6">
          <div class="signin-wrapper">
            <div class="form-wrapper">
              <h6 class="mb-15">로그인</h6>
              <p class="text-sm mb-25">
                암호를 입력하시오.
              </p>
              <form method="post" action="/authenticate">
                <div class="row">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                  <input id="id" type="hidden" name="id" />
                  <div class="col-12">
                    <div class="input-style-1">
                      <label for="password">암호</label>
                      <input id="password" type="password" name="password" placeholder="암호" />
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="col-12 input-style-1">
                    <div class="button-group d-flex justify-content-center flex-wrap">
                      <button class="main-btn primary-btn btn-hover w-100 text-center">
                        로그인
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <!-- 성공 메시지 -->
                    <div th:if="${successMessage}" class="alert-box primary-alert">
                      <div class="alert" role="alert" th:text="${successMessage}"></div>
                    </div>

                    <!-- 에러 메시지 -->
                    <div th:if="${errorMessage}" class="alert-box danger-alert">
                      <div class="alert" role="alert" th:text="${errorMessage}"></div>
                    </div>

                    <!-- 타임아웃 메시지 -->
                    <div th:if="${expireMessage}" class="alert-box warning-alert">
                      <div class="alert" role="alert" th:text="${expireMessage}"></div>
                    </div>
                  </div>


                </div>
                <!-- end row -->
              </form>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
</div>
</section>
    <!-- ========= All Javascript files linkup ======== -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/dynamic-pie-chart.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/fullcalendar.js"></script>
    <script src="/js/jvectormap.min.js"></script>
    <script src="/js/world-merc.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
