<!DOCTYPE html>
<!-- 1. 레이아웃 파일 지정 및 네임스페이스 확인 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">

<body>
<!-- 3. layout:fragment="content" 영역 정의 및 실제 콘텐츠 이동 -->
<div layout:fragment="content">
  <!-- ========== title-wrapper start ========== -->
  <div class="title-wrapper pt-30">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="title">
          <h2>광고자동화 - META</h2>
        </div>
      </div>

      <form enctype="multipart/form-data">

            <div class="menu-toggle-btn mr-15">
              <button type="button" id="uploadButton" >Upload</button>
              <input type="file" name="file" id="excelInput" accept=".xlsx, .xlsm, .xlsb, .xltx">
            </div>

      </form>









      <!-- end col -->
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <!-- Thymeleaf URL 사용 (href="#0" -> th:href="@{/index.html} 또는 적절한 경로) -->
                <a th:href="@{/index}">대시보드</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                광고자동화 / Meta
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- ========== title-wrapper end ========== -->

  <!-- ========== tables-wrapper start ========== -->
  <div id="myGrid" style="width: 100%; height: 500px">

    <!-- end row -->

  <!-- ========== tables-wrapper end ========== -->


</div> <!-- layout:fragment="content" 끝 -->

<!-- 6. 페이지별 스크립트가 필요하면 여기에 추가 -->
<th:block layout:fragment="script">
<script>
  let minRowHeight = 150;
  let currentRowHeight;
  let gridApi;

  class CustomButtonComponent {
    eGui;
    eButton;
    eventListener;

    init() {
      this.eGui = document.createElement("div");
      const eButton = document.createElement("button");
      eButton.className = "primary-btn btn-hover simple-btn";
      eButton.textContent = "파일 업로드";
      this.eventListener = () => alert("clicked");// 파일업로드 올리기
      eButton.addEventListener("click", this.eventListener);
      this.eGui.appendChild(eButton);
    }

    getGui() {
      return this.eGui;
    }

    refresh() {
      return true;
    }

    destroy() {
      if (this.eButton) {
        this.eButton.removeEventListener("click", this.eventListener);
      }
    }
  }

  const gridOptions = {

    rowData: [
      { campaignGoal: "판매", advertiseAccountName: "애니멀 프로젝트", campaignType: 'ASC',
        campaignName: "애니멀 프로젝", budget: "10000000", startDate: '2025-04-22',
        startTime: "23:50", location: "대한민국", language: '한국어',
        gender: "남자", minAge: "20", maxAge: '60',
        setName: "애니멀 세트 23", materialName: "소재 1", uploadPageName: '540062155846413',
        landingPageUrl: "test",displayLinkUrl: "슬라이드", defaultPhrase: "test",
        title: 'tes', description: "test", memo: true
        },
    ],

    columnDefs: [
      {
        headerName: "파일 업로드",
        field: "button",
        cellRenderer: CustomButtonComponent,
        flex: 1,
        minWidth: 100
      },
      {
        headerName: "캠페인 목표(선택)",
        field: "CAMPAIGN_GOAL",
        editable: true,
        flex: 1,
        cellEditor: "agSelectCellEditor",
        cellEditorParams: {
          values: [
            "판매",
            "트래픽",

          ],
        },
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "광고 계정명",
        field: "advertiseAccountName",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "캠페인 형태(선택)",
        field: "campaignType",
        editable: true,
        flex: 1,
        cellEditor: "agSelectCellEditor",
        cellEditorParams: {
          values: [
            "ABO",
            "ASC",
            "CBO",
          ],
        },
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "캠페인명",
        field: "campaignName",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "예산",
        field: "budget",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "시작날짜",
        field: "startDate",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "시작 시간",
        field: "startTime",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "위치",
        field: "location",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "언어",
        field: "language",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "성별",
        field: "gender",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "최소 연령",
        field: "minAge",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "최대 연령",
        field: "maxAge",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "세트명",
        field: "setName",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "광고소재명",
        field: "materialName",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "업로드 페이지명",
        field: "uploadPageName",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "형식(선택)",
        field: "format",
        editable: true,
        flex: 1,
        cellEditor: "agSelectCellEditor",
        cellEditorParams: {
          values: [
            "단일 이미지·동영상",
            "슬라이드",

          ],
        },
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "랜딩페이지 URL",
        field: "landingPageUrl",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "표시링크 URL",
        field: "displayLinkUrl",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "기본 문구",
        field: "defaultPhrase",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "제목",
        field: "title",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "설명",
        field: "description",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "기타 요청사항",
        field: "memo",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
    ],
    rowClassRules: {
      // apply red to Ford cars
      "rag-green": (params) => params.data.CAMPAIGN_GOAL === "트래픽",
    },
    /*rowData: getData(), 이거로 불러서 데이터 뿌려주기*/
    autoSizeStrategy: {
      type: "fitGridWidth",
    },
    onGridReady: (params) => {
      minRowHeight = params.api.getSizesForCurrentTheme().rowHeight;
      currentRowHeight = minRowHeight;
    },

    getRowHeight: (params) => {
      return currentRowHeight;
    },
  };


  document.addEventListener("DOMContentLoaded", function () {
    const gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);
  });


  const Input = document.getElementById('excelInput');
  const uploadButton = document.getElementById('uploadButton'); // 업로드 버튼 요소 가져오기

  let selectedFile; // 이미지 선택 시 파일 객체를 저장할 변수

  Input.addEventListener('change', function (event) {
    selectedFile = event.target.files[0];
  });

  // 업로드 버튼에 클릭 이벤트 핸들러 등록
  uploadButton.addEventListener('click', function  excelUpload(callback) {

    const formData = new FormData(); // FormData 객체 생성
    formData.append('file', selectedFile); // 선택된 파일을 FormData에 추가
    const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

    let headerValues =  {}

    if (csrfHeader && csrfToken) {
      headerValues[csrfHeader] = csrfToken;
    }
    // AJAX를 이용하여 서버로 파일 전송
    fetch('/api/meta/upload', {
      headers: headerValues,
      method: 'POST',
      body: formData
    })
            .then(response => response.json())
            .then(data => {
              // 서버로부터 받은 응답을 처리하는 코드
              console.log(data);
              callback(data);
            })
            .catch(error => {
              // 에러 처리
              console.error(error);
            });
  });
  excelUpload( function (data) {
    gridOptions.rowData = data;
    gridApi = agGrid.createGrid(gridDiv, gridOptions);
  });

</script>

</th:block>

</body>

</html>
