<!DOCTYPE html>
<!-- 1. 레이아웃 파일 지정 및 네임스페이스 확인 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">

<body>
<!-- 3. layout:fragment="content" 영역 정의 및 실제 콘텐츠 이동 -->
<div layout:fragment="content">
  <!-- ========== title-wrapper start ========== -->
  <div class="title-wrapper pt-30">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="title">
          <h2>META 엑셀업로드</h2>
        </div>
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <!-- Thymeleaf URL 사용 (href="#0" -> th:href="@{/index.html} 또는 적절한 경로) -->
                <a th:href="@{/index.html}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                META 엑셀업로드
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- ========== title-wrapper end ========== -->

  <!-- ========== tables-wrapper start ========== -->
  <div id="myGrid" style="width: 100%; height: 500px">

    <!-- end row -->

  <!-- ========== tables-wrapper end ========== -->


</div> <!-- layout:fragment="content" 끝 -->

<!-- 6. 페이지별 스크립트가 필요하면 여기에 추가 -->
<th:block layout:fragment="script">
<script>
  let minRowHeight = 150;
  let currentRowHeight;
  let gridApi;

  class CustomButtonComponent {
    eGui;
    eButton;
    eventListener;

    init() {
      this.eGui = document.createElement("div");
      const eButton = document.createElement("button");
      eButton.className = "btn-simple";
      eButton.textContent = "파일 업로드";
      this.eventListener = () => alert("clicked");// 파일업로드 올리기
      eButton.addEventListener("click", this.eventListener);
      this.eGui.appendChild(eButton);
    }

    getGui() {
      return this.eGui;
    }

    refresh() {
      return true;
    }

    destroy() {
      if (this.eButton) {
        this.eButton.removeEventListener("click", this.eventListener);
      }
    }
  }

  const gridOptions = {
    // Data to be displayed
    rowData: [
      { CAMPAIGN_GOAL: "판매", ADVERTISE_ACCOUNT_NAME: "애니멀 프로젝트", CAMPAIGN_TYPE: 'ASC',
        CAMPAIGN_NAME: "애니멀 프로젝", BUDGET: "10000000", START_DATE: '2025-04-22',
        START_TIME: "23:50", LOCATION: "대한민국", LANGUAGE: '한국어',
        GENDER: "남자", MIN_AGE: "20", MAX_AGE: '60',
        SET_NAME: "애니멀 세트 23", MATERIAL_NAME: "소재 1", UPLOAD_PAGE_NAME: '540062155846413',
        LANDING_PAGE_URL: "test",DISPLAY_LINK_URL: "슬라이드", DEFAULT_PHRASE: "test",
        TITLE: 'tes', DESCRIPTION: "test", MEMO: true
        },
      { CAMPAIGN_GOAL: "판매", ADVERTISE_ACCOUNT_NAME: "애니멀 프로젝트", CAMPAIGN_TYPE: 'ASC',
        CAMPAIGN_NAME: "애니멀 프로젝", BUDGET: "10000000", START_DATE: '2025-04-22',
        START_TIME: "23:50", LOCATION: "대한민국", LANGUAGE: '한국어',
        GENDER: "남자", MIN_AGE: "20", MAX_AGE: '60',
        SET_NAME: "애니멀 세트 23", MATERIAL_NAME: "소재 1", UPLOAD_PAGE_NAME: '540062155846413',
        LANDING_PAGE_URL: "test",DISPLAY_LINK_URL: "슬라이드", DEFAULT_PHRASE: "test",
        TITLE: 'tes', DESCRIPTION: "test", MEMO: true
      },
    ],
    // Columns to be displayed (Should match rowData properties)
    columnDefs: [
      {
        headerName: "파일 업로드",
        field: "button",
        cellRenderer: CustomButtonComponent,
        flex: 1,
        minWidth: 100
      },
      {
        headerName: "캠페인 목표",
        field: "CAMPAIGN_GOAL",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "광고 계정명",
        field: "ADVERTISE_ACCOUNT_NAME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "캠페인 형태",
        field: "CAMPAIGN_TYPE",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "캠페인명",
        field: "CAMPAIGN_NAME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "예산",
        field: "BUDGET",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "시작날짜",
        field: "START_DATE",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "시작 시간",
        field: "START_TIME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "위치",
        field: "LOCATION",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "언어",
        field: "LANGUAGE",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "성별",
        field: "GENDER",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "최소 연령",
        field: "MIN_AGE",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "최대 연령",
        field: "MAX_AGE",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "세트명",
        field: "SET_NAME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "광고소재명",
        field: "MATERIAL_NAME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "업로드 페이지명",
        field: "UPLOAD_PAGE_NAME",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "랜딩페이지 URL",
        field: "LANDING_PAGE_URL",
        editable: true,
        flex: 1,
        minWidth: 150, maxWidth: 300
      },
      {
        headerName: "표시링크 URL",
        field: "DISPLAY_LINK_URL",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "기본 문구",
        field: "DEFAULT_PHRASE",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "제목",
        field: "TITLE",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "설명",
        field: "DESCRIPTION",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
      {
        headerName: "기타 요청사항",
        field: "MEMO",
        editable: true,
        flex: 1,
        minWidth: 100, maxWidth: 300
      },
    ],
    /*rowData: getData(), 이거로 불러서 데이터 뿌려주기*/
    autoSizeStrategy: {
      type: "fitGridWidth",
    },
    onGridReady: (params) => {
      minRowHeight = params.api.getSizesForCurrentTheme().rowHeight;
      currentRowHeight = minRowHeight;
    },

    getRowHeight: (params) => {
      return currentRowHeight;
    },
  };




  document.addEventListener("DOMContentLoaded", function () {
    const gridDiv = document.querySelector("#myGrid");
    gridApi = agGrid.createGrid(gridDiv, gridOptions);
  });
 /* fetch("http://localhost:upload/")
          .then((response) => response.json())
          .then((data) => gridApi.setGridOption("rowData", data));*/
</script>

</th:block>

</body>

</html>
